@model Week6CodeChallenge.Models.Contact

<h1>contact content</h1>

@using (Html.BeginForm())
{
    <div class="row">
        @Html.LabelFor(model=>model.FirstName, "First Name")
        @Html.EditorFor(Model=>Model.FirstName)
        @Html.ValidationMessageFor(model => model.FirstName)
    </div>
    <div class="row">
        @Html.LabelFor(model => model.LastName, "Last Name")
        @Html.EditorFor(model => model.LastName)
        @Html.ValidationMessageFor(model => model.LastName)

    </div>
    <div class="row">
        @Html.LabelFor(model => model.Email, "E-mail")
        @Html.EditorFor(model => model.Email)
        @Html.ValidationMessageFor(model => model.Email)
    </div>
    <div class="row">
        @Html.LabelFor(model => model.PhoneNumber, "Phone number")
        @Html.EditorFor(model => model.PhoneNumber)
        @Html.ValidationMessageFor(model => model.PhoneNumber)


    </div>
    <div class="row">
        @Html.LabelFor(model => model.CompanyName, "Company Name")
        @Html.EditorFor(model => model.CompanyName)
        @Html.ValidationMessageFor(model => model.CompanyName)
    </div>
    <div class="row">
        @Html.LabelFor(model => model.ProjectDescription, "Project Description")
        @Html.EditorFor(model => model.ProjectDescription)
        @Html.ValidationMessageFor(model => model.ProjectDescription)

    </div>    <div class="row">
        @Html.LabelFor(model => model.Comment, "Comment")
        @Html.TextAreaFor(model => model.Comment)
        @Html.ValidationMessageFor(model => model.Comment)
    </div>
    <div class="row">
        <input type="submit" value="submit" />
    </div>
    
}
